apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: microblog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16
        env:
        - name: POSTGRES_USER
          value: microblog_user
        - name: POSTGRES_PASSWORD
          value: microblog_pass
        - name: POSTGRES_DB
          value: microblog_db
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: pgdata
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: pgdata
        persistentVolumeClaim:
          claimName: ebs-claim-cloudcamp
